<?xml version="1.0" encoding="UTF-8"?>
<!--
  **************************************************-
  InGrid-iPlug DSC
  ==================================================
  Copyright (C) 2014 - 2015 wemove digital solutions GmbH
  ==================================================
  Licensed under the EUPL, Version 1.1 or – as soon they will be
  approved by the European Commission - subsequent versions of the
  EUPL (the "Licence");

  You may not use this work except in compliance with the Licence.
  You may obtain a copy of the Licence at:

  http://ec.europa.eu/idabc/eupl5

  Unless required by applicable law or agreed to in writing, software
  distributed under the Licence is distributed on an "AS IS" basis,
  WITHOUT WARRANTIES OR CONDITIONS OF ANY KIND, either express or implied.
  See the Licence for the specific language governing permissions and
  limitations under the Licence.
  **************************************************#
  -->

<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans-4.0.xsd">

    <bean id="dataMapperFactory" class="de.ingrid.mdek.job.mapping.DataMapperFactory">
        <property name="mapperClasses">
            <map>
                <entry>
                    <key><value>igc</value></key>
                    <ref bean="dummyImportDataMapper" />
                </entry>
                <entry>
                    <key><value>csw202</value></key>
                    <ref bean="isoToIgcMappers" />
                </entry>
            </map>
        </property>
    </bean>

    <bean id="isoToIgcMappers" class="de.ingrid.mdek.job.mapping.profiles.baw.MapperQueue">
        <property name="mappers">
            <list>
                <!-- ISO 19115/19139 Validators -->
                <ref bean="isoSchemaValidator" />
                <ref bean="isoConditionsValidator" />
                <ref bean="bawProfileValidator" />

                <!-- Scripts for IGC generation -->
                <ref bean="csw202ScriptImportDataMapper" />
                <ref bean="bawIsoToIdfMapper" />
            </list>
        </property>
    </bean>

    <bean id="isoSchemaValidator" class="de.ingrid.mdek.job.mapping.validation.iso.ISO_19115_2003_SchemaValidator" />
    <bean id="isoConditionsValidator" class="de.ingrid.mdek.job.mapping.validation.iso.ISO_19115_2003_ConditionsValidator" />
    <bean id="bawProfileValidator" class="de.ingrid.mdek.job.mapping.profiles.baw.validation.iso.BawMetadataProfileValidator" />
    <bean id="bawIsoToIdfMapper" class="de.ingrid.mdek.job.mapping.profiles.baw.IsoToIgcMapperBaw" />

    <bean id="csw202ScriptImportDataMapper" class="de.ingrid.mdek.job.mapping.ScriptImportDataMapper">
        <property name="mapperScript">
            <list>
                <value>classpath:import/mapper/csw202_to_ingrid_igc.js</value>
                <value>classpath:import/mapper/iso_to_ingrid_igc_baw_postprocessing.js</value>
            </list>
        </property>
        <property name="template" value="classpath:import/templates/igc_template_csw202.xml" />
    </bean>
    
    
    <!-- SEARCH / INDEX CONFIGURATION -->
    <bean id="dscDocumentProducer" class="de.ingrid.iplug.dsc.index.DscDocumentProducer">
        <property name="recordSetProducer" ref="recordSetProducer" />
        <property name="recordMapperList">
            <list>
                <ref bean="recordMapper"/>
                <ref bean="recordProfileMapper"/>
                <ref bean="recordMapperBawMisPostProcessing"/>
                <ref bean="idfProducerIndexMapper"/>
            </list>
        </property>
        <property name="indexInfo" ref="indexInfo"/>
    </bean>

    <bean id="recordMapperBawMisPostProcessing" class="de.ingrid.iplug.dsc.index.mapper.ScriptedDocumentMapper">
        <property name="mappingScripts">
            <list>
                <value>classpath:mapping/global.js</value>
                <value>classpath:mapping/igc_to_lucene_baw-mis.js</value>
            </list>
        </property>
        <property name="compile" value="false" />
    </bean>

    <!-- IDF creation -->
    <bean id="dscRecordCreator" class="de.ingrid.iplug.dsc.record.DscRecordCreator">
        <property name="recordProducer" ref="recordProducer" />
        <property name="record2IdfMapperList">
            <list>
                <ref bean="createIdfMapper"/>
                <ref bean="scriptedIdfMapper"/>
                <ref bean="bawIdfMapper"/>
                <ref bean="scriptedIdfMapperDQ"/>
                <ref bean="igcProfileIdfMapper"/>
            </list>
        </property>
    </bean>

    <bean id="bawIdfMapper" class="de.ingrid.mdek.job.mapping.profiles.baw.IgcToIdfMapperBaw" />
    

</beans>